body 
{
    background-color: black;
    background-image: repeating-linear-gradient(rgb(0,0,0,0.8),rgba(0,0,0,0.8)),url("assets/212.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}

.type img 
{
    max-width: 200px;
    position: relative;
}

.type h5
{
    color: #F2AA4CFF;
    font-size: 60;
    text-align: center;
}
div 
{
    color: #F2AA4CFF;
    position: relative;
    justify-content: center;
    text-align: center;
    height: 100%;
    vertical-align: middle;
}

#button 
{
    padding: 10px 30px;
    font-weight: bold;
    font-size: larger;
    border-radius: 20px 5px; 
}


